*{
	margin:0;
	padding:0;
}
body{
	font:12px "Microsoft Yahei";
}
li{
	list-style: none;
}
button, input, select, textarea {
    font-size: 100%;
    font-family: "Microsoft YaHei", 微软雅黑,\9ed1\4f53,\5b8b\4f53, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    outline: none;
}
.header_top a,em{
	color: #999;
	text-decoration: none;
}
.header_top a:hover{

	color:#f25618;
}
header{
	min-width: 1220px;
	position: relative;
}

.header_top{
	position: relative;
	height:35px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	width: 100%;
}
.top_center{
	width:1220px;
	margin: 0 auto;
	line-height: 35px;
}
.qh:hover {
	/* style */
	color:#999;
}

.header_top_left{
	color:#999;
	float: left;
	width: 1220px;
}
.header_top_right{
	margin-top:-35px;
	float: right;
}

/*****************************顶部左侧链接样式*/
.header_top_left b{
	display: inline-block;
	position: absolute;
	top: 11px;
	width: 10px;
	height: 15px;
	background: url(../img/main/global.png) 0 0px  no-repeat;
	
}

.header_top_left span{
	font-weight: bold;
	margin-left: 15px;
}

/*****************************顶部右侧链接样式*/
.zx{
	color:#f25618;
}

.header_top_right li{
	list-style: none;
	float: left;
	margin-left: 15px;
}

.header_top_right li>em{
	display: block;
	width: 1px;
	background-color:#eee;
	height: 12px;
	margin-top: 11px;
}
.header_top_right li>span{
	color: #999;
}


/*********************************顶部中层样式*/
.header_center{
	position: relative;
	width: 100%;
	height: 115px;
}

#center_con{
	width: 1220px;
	margin:0 auto;
}
.logo{
	display: block;
	width: 320px;
	height: 65px;
	background: url(../img/main/global.png) 0 -348px no-repeat;
	margin-top:25px;
	float: left;
}

#search_box{
	float: left;
	margin-left: 90px;
	margin-top: 33px;
	height: 36px;
	width: 496px;
	border: 2px solid #01af63;
}

.head_select{
	width: 93px;
	cursor: pointer;
}
#selected{
	display: inline-block;
	background-color: #f9f9f9;
	border-right: 1px solid #eee;
	height: 36px;
	min-width: 50px;
	max-width: 93px;
	line-height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	color: #666;
}
#selected b{
	display: inline-block;
	width: 7px;
	height: 5px;
	background: url(../img/main/global.png) -70px 0 no-repeat;
}
.head_select:hover #selected>b{
	background: url(../img/main/global.png) -91px 0 no-repeat;
}

.head_select:hover .select_box{
	display: block;
}

.select_box{
	display: none;
	color: #666;
	background-color: #fff;
	list-style: none;
	width: 88px;
	height:auto;
	line-height: 30px;
	border:1px solid #eee;
	border-top: 0;
	z-index: 5;
    position: absolute;
}
.select_box>li{
	padding-left: 15px;
}
.select_box>li:hover{
	background-color: #f8f8f8;
}

/*文本框、按钮样式*/
#text{
	display: block;
	float: right;
	width: 300px;
	height: 36px;
	padding-left: 30px;
	border: 0;
	outline: none;
}

#btn{
	float: right;
	width: 75px;
	height:36px;
	background-color: #01af63;
	color: #fff;
	border: 0;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}
/********************************轮播样式*/
#head_lb{
	float: right;
	width: 230px;
	height: 70px;
	margin-left: 50px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
/*按钮样式*/
.btn_box{
	display: block;
	position: absolute;
	width: 7px;
	height: 15px;
	background: url(../img/main/global.png) no-repeat;
	z-index: 5;
}
.lb_btn{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	z-index: 5;
	opacity: 0;
}
#btn_left{
	top: 25px;
	left: 8px;
}
#btn_left .btn_box{
	background-position: -172px 0;
}
#btn_right{
	
	top: 25px;
	right: 5px;
}
#btn_right .btn_box{
	background-position: -179px 0;
}
#head_lb:hover .lb_btn{
	opacity: 1;
}
#head_lb_box{
	position: absolute;
	width: 10000px;
}
#head_lb_box li{
	float: left;
	list-style: none;
}

/*************************************************头部banner*/

.header_bottom{

	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #01af63;
}
.header_menu{
	width: 1220px;
	margin: 0 auto;
}
 
.header_menu a{
	color: #000;
	text-decoration: none;
}

.header_menu>ul>li{
	float: left;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
	list-style: none;
	position: relative;
}
.header_menu>ul>li:hover{
	background-color: #01af63;
}
.header_menu>ul>li:hover b{
	display: none;
}
.header_menu>ul>li>a{
	font-size: 18px;
}
.header_menu>ul>li:hover>a{
	color: #fff;
}
.header_menu>ul>li>dl{
	display: none;
	position: absolute;
	top:40px;
	z-index: 10;
}
.header_menu>ul>li>b{
	width: 1px;
	height: 16px;
	background-color: #eee;
	position: absolute;
	right: 0;
	top:13px;
}

/*设置当前banner样式*/
.on>a>span{
	color: #fff;
}
.on>b{
	display: none;
}
.on{
	background-color: #01af63;
}

.main a{
	padding: 0 25px;
}
/*设置带下拉菜单banner样式*/
.header_menu>ul>.has_secondMenu{
	width: 178px;
	padding: 0;
	position: relative;
}
.menu_arrow_two{
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 4px;
	right: 20px;
	top: 20px;
	background: url(../img/main/global.png) no-repeat;
	background-position: -77px 0;
}

/*.has_secondMenu:hover{
	background-color: #01af63;		
}*/

.has_secondMenu span{
	margin-left: 45px;
}
.has_secondMenu dl{
	color: #fff;
	background-color: #019d59;
	width: 100%;
}
.has_secondMenu>dl>dd:hover{
	background-color: #018d50;
}
.has_secondMenu>dl>dd>a{
	margin-left: 45px;
	color: #fff;

}
.has_secondMenu:hover dl{
	display: block;
}
dd .dd_new{
	display: inline-block;
	width: 20px;
	height: 11px;
	background: url(../img/main/global.png) -200px -15px no-repeat;
	margin-bottom: 5px;
}
.has_secondMenu:hover em{
	background-position: -84px 0;
}
.has_secondMenu:hover>b{
	display: none;
}

.has_hotIcon span{
	margin:0 30px;
}
.has_hotIcon{
	position: relative;
}
.menu_arrow_free{
	position: absolute;
	right: 22px;
	top: 5px;
	display: inline-block;
	width: 25px;
	height: 16px;
	background: url(../img/main/global.png) -175px -15px no-repeat;
}

/*********手机APP推广*/
.q_code{
	position: absolute;
	right: 162px;
	bottom: 0;
	width: 115px;
	height: 31px;
	background: url(../img/main/global.png) 0 -186px no-repeat;
}
.q_code_layer{
	display: none;
	height: 286px;
	width: 132px;
	background-color: #fff;
	position: absolute;
	left: 40px;
	border: 1px solid #019d59;
	border-radius: 5px;
	z-index: 5;
}
.q_code_layer .q_codeTitle{
	display: block;
	color: #666;
	padding: 12px 20px;
}
.q_code:hover .q_code_layer{
	display: block;
}
.q_codeImage{
	display: block;
	width: 91px;
	height: 91px;
	background: url(../img/main/global.png) no-repeat;
	margin-left: 20px;
}
.q_code_layer>a:first-child .q_codeImage{
	background-position: -414px -113px;
}

.q_code_layer>a:last-child .q_codeImage{
	background-position: -415px -2px;
}

/***********************************************************************************内容区开始*/


#contain{
	width: 1220px;
	margin:0 auto;
}
#contain>div{
	margin-top: 50px;
}
.clear{
	clear: both;
}
#contain .con_top{
	margin:20px 0;
}

.con_topLeft,.con_topCenter,.con_topRight{
	float: left;
	border-bottom: 1px solid #ddd;
}

.con_topLeft{
	width: 300px;
	height: 428px;
	border: 1px solid #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.con_tlBox_tab{
	height: 58px;
	border-bottom: 2px solid #f25618;
}

.con_tlBox_tab>ul>li{
	float: left;
	width: 74px;
	height: 58px;
	border-right: 1px solid #eee;
	cursor: pointer;
}
.con_tlBox_tab>ul>li>span{
	display: block;
	width: 34px;
	height: 34px;
	margin: 12px 20px;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.con_tlBox_tab>ul>li:last-child{
	border-right: 1px solid #fff;
}

.con_tlBox_tab .oning>span{
	font-weight: bold;
	color: #f25618;
}

.form_box{
	padding: 15px;
	position: relative;
}
#con_tlBox_b{
	display: block;
	width: 14px;
	height: 6px;
	background: url(../img/main/index_global.png) -260px 0 	no-repeat;
	position: absolute;
	top: 0;
	left:26px;
}
/*********************设置表单样式*/
.form_title>ul>li{
	display: none;
	color: #666;
}
.form_title>ul>li:first-child{
	display: block;
}
.form_title>form>input{
	width: 260px;
	height: 35px;
	border:1px solid #D8D8D8;
	margin:10px 0px;
	padding-left: 5px;
}
.form_title>form>input:focus{
	border: 1px solid #f25618;
}

#sq_form>select{
	height: 35px;
	width: 127px;
	margin-top: 10px;
	border: 1px solid #D8D8D8;
	color: #666;
}
#sq_form>input+select{
	margin-right: 10px;
}
#check_box{
	width: 13px;
	height: 13px;
	position: absolute;
	top: 4px;
	left:5px;
}
#tk_box{
	position: relative;
	margin:20px 0;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;

}
.tk{
	color: #01af63;
	text-decoration: none;
}

#sq_btn{
	display: block;
	width: 268px;
	height:45px;
	background-color: #f25618;;
	line-height: 45px;
	text-align: center;
}
#sq_btn a{
	color: #fff;
	font-size: 14px;

}

.tg_meg{
	color: #999;
}
.tg_meg span{
	margin-right: 3px;
}
.tg_meg li{
	margin-top: 10px;
}
.tg_meg li:first-child{
	border-top: 1px solid #ddd;
	padding-top: 9px;
}

.con_topCenter{
	margin-left:19px;
	width: 619px;
}
.center_lb{
	width: 619px;
	height: 280px;
	position: relative;
}
.center_lb li{
	width: 619px;
	height: 280px;
	position: absolute;
	opacity: 0;
	transition: all 1s linear;
}
.center_lb li:first-child{
	opacity: 1;
}
#center_lb_btn{
	position: absolute;
	top: 244px;
    left: 250px;
}

#center_lb_btn>span{
	display: inline-block;
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0.5;
	margin: 0 4px;
}
#center_lb_btn .spanBtn_hover{
	opacity: 0.8;
}

/*左右按钮样式*/

.center_lb .bleft{
	position: absolute;
	left:0;
	top: 50%;
	display: none;
	margin-top: -25px;
	width: 50px;
	height:50px;
	background-color: #000;
	opacity: 0.5;
}
.center_lb .bleft span{
	background-position: 0 0;
}
.center_lb .bright{
	display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    top: 50%;
    right: 0;
    margin-top: -25px;
    z-index: 2;
}
.center_lb .bright span{
	background-position: -12px 0;
}
.banner_arrow{
	display: block;
    width: 11px;
    height: 20px;
    margin: 15px auto;
    line-height: 99em;
    overflow: hidden;
    background: url(../img/main/banner.png) no-repeat;
}

.center_lb:hover .bright{
	display: block;
}
.center_lb:hover .bleft{
	display: block;
}



.center_tab{
	width: 619px;
	height: 100px;
	padding: 24px 0;
	border:1px solid #ddd;
	border-top: none;
	border-bottom: none;
}
.center_tab>span{
	display: inline-block;
	margin: 0;
	padding: 0;
	border-right: 1px solid #ddd;
	margin-left: -3px;
}
.center_tab>span:first-child{
	margin-left: 0;
}
.center_tab>span:last-child{
	border: none;
}


/*******************中部轮播图左侧*/
.left_tg>div{
	width: 260px;
	margin:20px 0 10px 18px;
	cursor: pointer;
}
.yzfk,.gdzm{
	position: relative;
}
.yzfk i{
	display: block;
	width: 130px;
	height: 27px;
	background: url(../img/main/index_global.png)-40px -67px;
}
.yzfk em{
    position: absolute;
    color: #454857;
    font-family: "SimSun";
    top: 15px;
    right: 11px;
    font-size: 18px;
    font-style: normal;
}
.gdzm em{
	 position: absolute;
    color: #454857;
    font-family: "SimSun";
    top: 15px;
    right: 11px;
    font-size: 18px;
    font-style: normal;
}
.yzfk:hover i{
	background-position: -176px -67px;
}
.yzfk:hover em{
	color: #f25618;
}
.gdzm:hover em{
	color: #f25618;
}
.gdzm i{
	display: block;
	width: 130px;
	height: 27px;
	background: url(../img/main/index_global.png)-40px -96px;
}

.gdzm:hover i{
	background-position: -176px -96px;
}
/************************行业说与业主说*/
.sec_say_tit{
	padding-left: 18px;
	padding-top: 10px;
	color: #999;
	position: relative;
}
.sec_say_tit .sec_say_on{
	color: #333;
}
.sec_say_tit p{
    margin-left: 20px;
    height: 1px;
    width: 150px;
    background: #eee;
    position: absolute;
    right: 13px;
    top: 19px;
}

.sec_say_bd{
	position: relative;
	margin-top: 20px;
	width: 280px;
	height: 130px;
}

.sec_tx,.sec_con{
	float:left;
}

.sec_tx{
	width:50px;
	text-align: center;
	color:#666;
	margin: 10px 20px;
}
.sec_tx img{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.sec_tx span{
	display: block;
	width:50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.sec_con{
	width:170px;
	margin:10px;
	cursor:pointer;
}
.sec_con h6{
	width:170px;
	font-weight: normal;
	color:#666;
	margin-bottom: 5px;
	font-size:14px;
}
.sec_con:hover h6{
	color: #f25618;
}

.sec_con p{
	color:#999;
}
/************************************************************装修流程*/
.index_title{
	height: 40px;
	position: relative;
	margin-bottom: 10px;
}
.index_tit{
	font-size: 30px;
	color: #333;
}
.index_deco{
	color: #999;
	font-size: 12px;
	padding-left: 10px;
}

#m_xzx{
	position: absolute;
	width: 90px;
	height: 25px;
	border: 1px solid #f25618;
	right: 0;
	top: 12px;
	font-size: 14px;
	font-weight: 500;
	padding: 0 5px;
	line-height: 25px;
	border-radius: 3px;
}
#m_xzx a{
	color: #f25618;
}

.index_zxlc_list{
	padding-top: 20px;
}
.index_zxlc_list li{
	float: left;
	margin-right: 20px;
	width: 113px;
	height: 113px;
	border: 1px solid #eee;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.index_zxlc_list li:hover{
	background-color: #f25618;
}
.index_zxlc_list li:hover span{
	color: #fff;
}
.index_zxlc_list>li>span{
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-size: 14px;
}
.index_zxlc_list i{
	display: block;
	width: 39px;
	height: 37px;
	background:url(../img/main/index_global.png) no-repeat;
	position: absolute;
	left:37px;
	top: 30px; 
}
.index_zxlc_list .index_zxlc_ico1{
	background-position: -40px -123px ;
	width: 45px;
}
.index_zxlc_list .index_zxlc_ico2{
	background-position: -86px -123px ;
}
.index_zxlc_list .index_zxlc_ico3{
	background-position: -124px -123px ;
	width: 37px;
}
.index_zxlc_list .index_zxlc_ico4{
	background-position: -160px -123px ;
}
.index_zxlc_list .index_zxlc_ico5{
	background-position: -198px -123px ;
}
.index_zxlc_list .index_zxlc_ico6{
	background-position: -236px -123px ;
}
.index_zxlc_list .index_zxlc_ico7{
	background-position: -276px -123px ;
}
.index_zxlc_list .index_zxlc_ico8{
	background-position: -313px -123px ;
}
.index_zxlc_list .index_zxlc_ico9{
	background-position: -351px -123px ;
}

/*添加hover样式*/

.index_zxlc_list>li:hover .index_zxlc_ico1{
	background-position: -40px  -162px;
	width: 45px;
}
.index_zxlc_list>li:hover .index_zxlc_ico2{
	background-position: -86px  -162px;
}
.index_zxlc_list>li:hover .index_zxlc_ico3{
	background-position: -124px -162px ;
	width: 37px;
}
.index_zxlc_list>li:hover .index_zxlc_ico4{
	background-position: -160px -162px ;
}
.index_zxlc_list>li:hover .index_zxlc_ico5{
	background-position: -198px -162px ;
}
.index_zxlc_list>li:hover .index_zxlc_ico6{
	background-position: -236px -162px ;
}
.index_zxlc_list>li:hover .index_zxlc_ico7{
	background-position: -276px -162px ;
}
.index_zxlc_list>li:hover .index_zxlc_ico8{
	background-position: -313px -162px ;
}
.index_zxlc_list>li:hover .index_zxlc_ico9{
	background-position: -351px -162px ;
}


/**********************************************************************装修效果图*/
.index_zxxgt a{
	cursor: pointer;
}
.index_zxxgt_bd{
	padding-top: 10px;

}
.zxxgt_left,.zxxgt_center,.zxxgt_right{
	float: left;
}

.zxxgt_left>a{
	display: block;
	width:476px;
	height:340px;
	position: relative;
}
.zxxgt_left_ban{
	display: block;
	position: absolute;
	height:90px;
	width: 100%;
	background-color: #000;
	opacity: 0.75;
	bottom: 0;
}
.zxxgt_left>a>p{
	font-size: 25px;
	font-weight: 500;
	color:#fff;
	position: absolute;
	bottom: 36px;
	left:20px;
}
.zxxgt_left>a>em{
	font-style: normal;
	position: absolute;
	bottom: 20px;
	left:20px;
}
.zxxgt_center_top,.zxxgt_center_bottom,.zxxgt_right{
	position: relative;
	margin-left: 18px;
}
.zxxgt_center_top{
	margin-bottom: 14px;
}
.zxxgt_center span{
	position: absolute;
	display: block;
	height: 30px;
	width: 100%;
	bottom: 0;
	background-color: #000;
	opacity: 0.75;
}
.zxxgt_center p{
	color: #fff;
	position: absolute;
	bottom: 9px;
	left: 15px;
}
.zxxgt_center_bottom>div{
	float: left;
	position: relative;
}
.zxxgt_center_bottom>div:first-child{
	margin-right: 20px;
}
.zxxgt_right span{
	position: absolute;
	display: block;
	height: 30px;
	width: 100%;
	bottom: 0;
	background-color: #000;
	opacity: 0.75;
}
.zxxgt_right p{
	color: #fff;
	position: absolute;
	bottom: 9px;
	left: 15px;
}

.gzxgt{
	width: 1220px;
	height: 140px;background-color: #f8f8f8;
	margin-top:20px;
}
.gzxgt li{
	float: left;
	width:152px;
	height:140px;
	position: relative;
}
.gzxgt a{
	display: block;
	width: 152px;
	height: 140px;
	text-align: center;
}
.gzxgt img{
	width:80px;
	height:80px;
	border-radius: 50%;
	margin: 20px auto 0;
}
.gzxgt span{
	position: absolute;
	bottom: 10px;
	right: 61px;
}

.gzxgt li:hover span{
	color: #f25618;
}
/*************************************************装修攻略*/
.zxgl_dairy{
	height: 168px;
}
.diary_tit,.diary_list{
	float: left;
}
.diary_tit{
	width: 180px;
	height: 168px;
	background-color: #01AF63;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.diary_tit>a{
	position: absolute;
	bottom: 40px;
	left:67px;
	color: #fff;
	font-size: 14px;
}
.diary_tit span{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/main/index_global.png) -41px -203px no-repeat;
}
.diary_tit em{
	position: absolute;
    right: -54px;
    top: 23px;
	width: 12px;
	height: 20px;
	background: url(../img/main/index_global.png) -117px -15px no-repeat;
}

.diary_list{

}
.diary_list li{
	float: left;
	margin-left: 20px;
	position: relative;
}
.diary_list span{
	position: absolute;
	display: block;
	height: 30px;
	width: 240px;
	bottom: 3px;
	background-color: #000;
	opacity: 0.75;
}
.diary_list p{
	color:#fff;
	font-size: 14px;
	position: absolute;
	bottom: 8px;
	left: 10px;
}
.diary_list i{
	position: absolute;
	top: 0;
	right:0;
	width: 78px;
	height:26px;
	font-size: 14px;
	color: #fff;
	font-style: normal;
	background-color: #01AF63;
	line-height: 26px;
	text-align: center;
}

.zxgl_learn{

	height: 168px;
}

.learn_tit,.learn_list{
	float:left;
}
.learn_tit{
	width: 180px;
	height: 168px;
	background-color: #25B6A6;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.learn_tit a{
	position: absolute;
	bottom: 40px;
	left:67px;
	color: #fff;
	font-size: 14px;
}
.zxgl_learn a>span{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/main/index_global.png) -41px -203px no-repeat;
}
.zxgl_learn em{
	position: absolute;
    right: -54px;
    top: 23px;
	width: 12px;
	height: 20px;
	background: url(../img/main/index_global.png) -117px -15px no-repeat;
}
.learn_list{
	width: 1040px;
	height: 168px;
	background-color: #F8F8F8;
}
.learn_list>ul>li{
	width: 306px;
	float:left;
	margin-left: 40px;
}
.learn_list>ul>li>h2{
	font-weight: normal;
	color: #333;
	margin-top: 20px;
}
.learn_listCon{
	margin-top: 20px;
}
.learn_listCon>img,ul{
	display: block;
	float: left;
}
.learn_listCon>ul>li{
	margin:0;
	color:#333;
	width: 200px;
	margin-top: 10px;
	padding-left: 5px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.learn_listCon>ul>li:hover{
	color: #f25618;
}
.learn_listCon>ul>li>span{
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-right: 5px;
	background: url(../img/main/index_global.png) -99px 0 no-repeat;
}

/************************************************************************家具商城*/


.jjsc_titBanner{
	position: absolute;
	width:380px;
	height: 40px;
	right: 0;
	top:10px;
}

.jjsc_titBanner>ul>li{
	float:left;
	margin-left: 41px;
	font-size: 16px;
	color: #333;
}
.jjsc_titBanner>ul>li:hover{
	color:#f25618;
}

.index_jjscCon{
	border:1px solid #eee;
}
.jjscCon_left{
	width: 300px;
	height: 400px;
	float: left;
}
.jjscCon_left li{
	cursor:pointer;
}
.jjscCon_slider{
	width: 358px;
	height: 400px;
	float: left;
	position: relative;
	overflow:hidden;
}
.jjscCon_right{
	width: 560px;
	height: 400px;
	float: left;
}

.secC{
	border-top: 1px solid #eee;
	border-bottom:1px solid #eee;
	height: 111px;
}
.secC h6{
	font-weight: normal;
	padding: 18px 0 15px;
	color: #333;
} 
.secC li{
	float: left;
	margin:0 15px 15px 0;
	color:#666;
}
.secC li:hover{
	color: #f25618;
}
.secC1,.secC2{
	float: left;
	width: 130px;
}
.secC1{
	border-right: 1px dotted #eee;
	margin-left:22px;
}
.secC2{
	padding-left:17px;
}

.secB{
	height:87px;
}
.secB h6{
	font-weight: normal;
	padding: 18px 25px 15px;
	color: #333;
	float:left;
	font-size:14px;
}
.secB ul{
	margin-top: 18px;
}
.secB ul>li{
	margin-bottom: 15px;
	color:#666;
}
.secB ul>li:hover{
	color: #f25618;
}


/*************家居商城小轮播*/
.small_banner>li{
	position:absolute;
	opacity: 0;
	transition: opacity 1s linear;
}
.small_banner>li:first-child{
	opacity: 1
}

.sb_btns{
	position:absolute;
	width:65px;
	height:20px;
	bottom:13px;
	left:156px;
}

.sb_btns>span{
	display: inline-block;
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0.5;
	margin: 0 4px;
}

.sb_btns .spanBtn_hover{
	opacity:0.8;
}

.btn_left{
	position: absolute;
	left:0;
	top: 50%;
	display: none;
	margin-top: -25px;
	width: 50px;
	height:50px;
	background-color: #000;
	opacity: 0.5;
}
.btn_left span{
	background-position: 0 0;
}

.btn_right{
	position: absolute;
	right:0;
	top: 50%;
	display: none;
	margin-top: -25px;
	width: 50px;
	height:50px;
	background-color: #000;
	opacity: 0.5;
}
.btn_right span{
	background-position: -12px 0;
}
.btn_left:hover,.btn_right:hover{
	opacity:0.8;
}

.jjscCon_slider:hover .btn_left{
	display: block;
}


.jjscCon_slider:hover .btn_right{
	display: block;
}


/**********************家居商城右侧*/
.jjscCon_right>ul>li{
	float:left;
	width:259px;
	height:190px;
	padding:0 10px 10px;
	position:relative;
}

.jjscCon_right>ul>li:nth-child(1){
	border-right:1px dotted #eee;
	border-bottom:1px dotted #eee;
}
.jjscCon_right>ul>li:nth-child(2){
	border-bottom:1px dotted #eee;
}
.jjscCon_right>ul>li:nth-child(3){
	border-right:1px dotted #eee;
}
.jjscCon_right em{
	width:60px;
	height: 30px;
	background: url(../img/main/global1.png) -59px -64px no-repeat;
	position: absolute;
	top: 0;
	left:10px;
	color:#fff;
	text-align: center;
	font-style:normal;
}

.jjscCon_right img{
	margin: 12px 0 0 50px;
}

.jjscCon_right a:hover{
	color:#f25618;
}
.jjscCon_right p{
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height:14px;
	overflow:hidden;
	padding-left: 10px;

}
.jjscCon_right .jjsc_price{
	color:#e81a62;
	font-size: 16px;
	text-align: center;
	margin-top: 16px;
}

/**************************家居商城底部*/
.index_jjscBot{

}
.index_jjscBot>ul>li{
	float:left;
	width: 130px;
    padding: 20px 36px 10px;
	border: 1px solid #eee;
	border-top:none;
	border-right: none;
}
.index_jjscBot>ul>li:last-child{
	border-right:1px solid #eee;
}


/****************************************************************土巴兔装修榜*/
.index_zxb .index_title>em{
	position: absolute;
	right:0;
	top:15px;
	font-style: normal;
	color:#333;
}

.index_zxb .index_title>em:hover{
	color:#f25618;
}

.zxb_left, .zxb_right{
	float: left;
}

.zxb_left{
	width: 920px;
	height:300px;
}
.zxb_right{
	width: 255px;
	height:294px;
	border: 1px solid #eee;
}

.zxb_ban{
	position:relative;
	height:120px;
	width:920px;
	overflow: hidden;
}
.zxb_ban>ul>li{
	position:absolute;
	transition:all 0.5s ease;
}
.zxb1{
	left:0;
	z-index: 1;
}
.zxb2{
	left: 536px;
	z-index: 2;
}
.zxb3{
	left: 728px;
	z-index: 3;
}

.zxb_bd{
	width: 458px;
	height:195px;
	float:left;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
}
.zxb_bd>p{
	margin:9px 20px;
	font-size:20px;
	color:#333;
}

.zxb_bd>a{
	display: block;
	float: left;
	margin-left: 20px;
}
.zxb_bd>div{
	float:left;
	border:1px solid #f6f6f6;
	margin:20px;

}
.zxb_bd_content{
	padding:20px;
	width:200px;
	position:relative;
}
.zxb_bd_content>em{
	position: absolute;
	width:11px;
	height:21px;
	background: url(../img/main/index_global.png) -117px -14px no-repeat;
	left:-11px;
	bottom: 43%;
}
.zxb_bd_content>a{
	display:block;
	color:#666;
	margin-bottom:20px;
	font-size:16px;
}

.zxb_bd_content>a:hover{
	color:#f25618;
}

.zxb_bd_content>ul>li>i{
	display: inline-block;
	width:12px;
	height:12px;
	background: url(../img/main/index_global.png) no-repeat;
	margin-right:10px;
}
.bot1>.zxb_bd_content>ul>li:first-child>i{
	background-position:-116px 0;
}
.bot1>.zxb_bd_content>ul>li:last-child>i{
	background-position:-130px 0;
}
.bot2>.zxb_bd_content>ul>li:first-child>i{
	width:15px;
	height:17px;
	background-position:-106px -40px;
}

.zxb_right{
	padding: 10px 21px;
}
.pm_title{
	height:30px;
}
.pm_title>p{
	float:left;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
	border-bottom:2px solid #eee;
}
.pm_bd>ul>li{
	height: 56px;
    width: 250px;
    padding: 14px 0;
    line-height: 56px;
    border-bottom:1px dotted #eee;
}
.pm_bd>ul>li:last-child{
	border: none;
}
.pm_bd>ul>li>a,.pm_bd>ul>li>span,.pm_bd>ul>li>div{
	float: left;
}
.pm_bd>ul>li>span{
	display: block;
	font-size:20px;
	margin:0 20px 0 0;
	color:#bbb;
}
.pm_bd>ul>li>a{
	display: block;
	height: 55px;
	border: 1px solid #eee;
}
.pm_bd>ul>li>a>img{
	width:52px;
	height: 52px;
}
.credit_box{
	margin-left:20px;
	position:relative;
	width: 120px;
	height:100%;
}
.credit_box>p{
	position: absolute;
	height:20px;
	width:150px;
	top:3px;
	line-height:20px;
	font-size:15px;
}
.credit_box>em{
	display: block;
	width: 85px;
	height:20px;
	position:absolute;
	font-style:normal;
	bottom:25px;
}

.pm_title>.pm_on{
	color:#01af63;
	border-bottom:2px solid #01af63;
}

.pm2_bd{
	display: none;
}

.index_ad>a:first-child{
	display: inline-block;
	margin-right:15px;
}





/*********************************************************************************装修公司*/
.zxgs_title{
	margin-bottom: 20px;
}
.zxgs_tit{
	color:#01AF63;
	font-size:24px;
}

.zxgs_left{
	float:left;
	width:920px;
	height:480px;
}



.zxgs_list{

}

.zxgs_list li{
	float:left;
	width:152px;
	height:62px;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	position:relative;
}

.zxgs_list li>a{
	display:block;
	position:absolute;
	width:152px;
	height:62px;
}

.zxgs_list li>a>img{
	display: block;
	width:130px;
	height: 53px;
	margin:4px auto 0;
}

.zxgs_list .zxgs_on{
	border:2px solid #01AF63;
	width:149px;
	height:59px;
}
.zxgs_dec1,.zxgs_dec2,.zxgs_dec3{
	display:block;
	width:917px;
	height:350px;
	border: 1px solid #eee;
	border-right: none;
	color:#333;
	background-color: #F8F8F8;
}
.zxgs_yy{
	float: left;
	margin:30px;
}
.zxgs_msg{
	float:left;
	width:700px;
	
}
.yy_btn{
	display: block;
	width:108px;
	height: 30px;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 20px;
	color:#fff;
	background-color: #F25717;
	line-height: 30px;
	text-align:center;

}
.zxgs_yy>em{
	color: #333;
	font-style: normal;
	padding-left: 40px;
	padding-top: 10px;
}
.zxgs_yy>em>span{
	color:#F25717;
	padding:0 3px;
}

.zxgs_name,.zxgs_kbz,.zxgs_zs{
	float:left;
}

.zxgs_name{
	width:500px;
	height:100px;
	margin-top: 20px;
	border-right: 1px dotted #e6e6e6;
}
.zxgs_kbz{
	width:196px;
	height:120px;
	position: relative;
}
.zxgs_name>h3{
	font-size: 24px;
	font-weight: normal;
	color:#666;
	margin-bottom: 15px;
	width:150px;
}
.zxgs_name>h3:hover{
	color: #f25618;

}

.zxgs_level{
	height:16px;
	line-height: 14px;
	overflow: hidden;
	font-size: 16px;
	color:#666;
}
.zxgs_level i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/main/zgs_global.png) no-repeat;
	margin-right: 3px;
}
.zxgs_level .ico_level1{
	background-position: -172px -1px;
}
.zxgs_level .ico_level2{
	background-position: -17px -123px;
}
.zxgs_level .ico_level3{
	background-position: -68px -123px;
}
.zxgs_level .ico_level4{
	background-position: -151px -1px;
}
.zxgs_level .ico_level5{
	background-position: -151px -18px;
}
.zxgs_level .ico_level6{
	background-position: -172px -18px;
}
.zxgs_level .ico_level7{
	background-position: -192px -18px;
}
.zxgs_level em{
	font-style: normal;
	color: #666;
	display: inline-block;
}
.zxgs_level a{

}

.zxgs_add{
	margin-top: 15px;
}
.zxgs_add>i{
	display: inline-block;
	width:10px;
	height: 13px;
	background: url(../img/main/zgs_index.png) -43px -10px;
}

.zxgs_kbz>em{
	color:#666;
	font-size: 16px;
	position: absolute;
	font-style: normal;
	top: 30%;
	left:30%;
}
.zxgs_kbz>span{
	color: #f25618;
	font-size: 24px;
	position: absolute;
	top:45%;
	left:32%;
}

.zxgs_zs{
	border-top: 1px dotted #e8e8e8;
	margin-top: 15px;
	padding-top:20px;
	color: #666;
	line-height: 18px;
}
.zxgs_zs .more{
	color:#01AF63;
}
.zxgs_zs .more:hover{
	color: #f25618;
}
.zxgs_zs>ul>li{
	float:left;
	position: relative;
	margin-top: 10px;
	margin-right: 18px;
}
.zxgs_zs>ul>li>img{
	width:150px;
	height: 105px;
}
.zs_ban{
	position: absolute;
	height:30px;
	width: 100%;
	background: #000;
	opacity: 0.8;
	bottom: 4px;
}

.zxgs_zs>ul>li>span{
	display: block;
	position: absolute;
	bottom:10px;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
	padding-left:10px;
}
.zxgs_zs>ul>li>i{
	display: block;
	position: absolute;
	color: #999;
	bottom: 10px;
	right:5px;
	font-style: normal;
}

.zxgs_right{
	width: 255px;
	height:457px;
	padding: 10px 21px;
	border: 1px solid #eee;
	float:left;
}
.gs_title>p{
	float:left;
	font-size: 20px;
	width:120px;
	padding: 10px 0px;
	cursor: pointer;
	border-bottom:2px solid #eee;
	text-align: center;
}
.gs_title>.pm_on{
	color:#01af63;
	border-bottom:2px solid #01af63;
}
.gs1_bd{
	display: none;
}
.gs1_bd>p{
	margin:10px 0 15px;
}
.ico_ibox{
	width:100%;
	height:50px;
}
.ico_ibox>li{
	float:left;
	width:40px;
	height:60px;
	text-align: center;
}
.ico_ibox>.ico_right{
	width:10px;
	margin:0 10px;
}
.ico_right>em{
	display: block;
	height:20px;
	background: url(../img/main/index_global.png) -93px -42px no-repeat;
}
.ico_ibox i{
	margin: 0 auto;
	display: block;
	background: url(../img/main/index_global.png) no-repeat;
}
.ico_ibox .ico_i1{
	width:31px;
	height:32px;
	background-position: -142px 0;
}
.ico_ibox .ico_i2{
	width:28px;
	height:32px;
	background-position: -174px 0;
}
.ico_ibox .ico_i3{
	width:31px;
	height:32px;
	background-position: -203px 0;
}
.ico_ibox .ico_i4{
	width:28px;
	height:32px;
	background-position: -234px 0;
}


/*************登记表单*************/
.gs_form_box{
	margin-top: 80px;
	padding: 15px 0;
	position: relative;
	border-top:1px dotted #eee;
}
#gs_btn{
	display: block;
	width: 252px;
	height:45px;
	background-color: #f25618;;
	line-height: 45px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}
#gs_btn a{
	color: #fff;
	font-size: 14px;
}
#gs_form>input{
	width:246px;
}
#gs_form>select{
	height: 35px;
	width: 120px;
	margin-top: 10px;
	border: 1px solid #D8D8D8;
	color: #666;
}
#gs_form>#gs_pro{
	margin-right: 10px;
}

.form_title>p{
	color:#f25618;
	font-size:15px;
}


/******************************最新签约公司*/

.gs2_bd>ul>li{
	height: 56px;
    width: 250px;
    padding: 21px 0;
    line-height: 56px;
    border-bottom:1px dotted #eee;
}
.gs2_bd>ul>li>a,.gs2_bd>ul>li>div{
	float: left;
}

.gs2_bd>ul>li>a{
	display: block;
	height: 55px;
	width:52px;
	border: 2px solid #eee;
}
.gs2_bd>ul>li>a>img{
	width:52px;
	height: 52px;
}

.credit_box>h6{
	display: block;
	width: 140px;
	height:20px;
	margin-top:3px;
	font-style:normal;
	font-weight: normal;
	color:#999;
}
.credit_box>h6:last-child{
	margin-top: -3px;
}


/****************************************************************************************************小区案例*/

.xqal_left{
	float:left;
	width:880px;
	height:300px;
	margin-right: 40px;
}
.xqal_right{
	float: left;
	width: 299px;
}

.xqal_left .index_title>em{
	position:absolute;
	right: 0;
	bottom: 0;
	font-style:normal;
}
.xqal_left .index_title>em:hover{
	color: #f25618;
}

.xqal_list{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}
.xqal_list>li{
	float: left;
	margin-right: 10px;
	position: relative;
}
.xqal_list>li>a>img{
	width:280px;
	height:280px;
}
.xqal_ban{
	height: 30px;
	width:100%;
	position: absolute;
	bottom:3px;
	background-color: #000;
	opacity: 0.8;
}

.xqal_list>li span{
	display: block;
	position: absolute;
	bottom: 8px;
	color:#fff;
	font-size: 14px;
	padding-left: 10px;
}

.xqal_right .gs_bd a{
	border: none;
	border-radius: 50%;
	overflow: hidden;
	height: 52px;
}

.xqal_right .gs_bd h6{
	margin-top: 10px;
}

.xqal_right .gs2_bd li{
	padding:8px 0;
}


/*************************************************************热点新闻*/

.rdxw_bd{
	border-top: 1px solid #eee;
}
.xw_img,.xw_list,.xw_right{
	float: left;
}
.xw_img{
	display: block;
	width: 411px;
    height: 347px;
    position: relative;
}
.xw_list{
	width: 431px;
    height: 331px;
	padding:20px 38px;
}
.xw_list>li{
	cursor: pointer;
}
.xw_right{
	width: 255px;
	height:328px;
	border: 1px solid #eee;
	padding:10px 21px;
}
.new1{
	position: absolute;
	right: 0;	
}
.new2{
	position: absolute;
	top:50px;
	left:0;
}

.xw_list>li{
	padding: 22px 0;
	border-bottom: 1px dotted #eee;
}
.xw_list h4{
	font-size:16px;
	color: #666;
	font-weight: normal;
}
.xw_list h4:hover{
	color:#f25618;
}
.xw_list p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#999;
	width:431px;
	line-height: 14px;
}

.xw1_bd>li{
	color:#666;
	cursor:pointer;
	border-bottom: 1px dotted #e8e8e8;
	padding:15px 0;
}

.xw1_bd>li:hover{
	color:#f25618;
}
.xw1_bd>li:last-child{
	border: none;
}
.xw1_bd>li>span{
	padding-right: 3px;
}

.xw2_bd{
	display: none;
}
.xw2_bd>li{
	padding:12px 0;
	border-bottom: 1px solid #e8e8e8;
}
.xw2_bd>li:hover em{
	color:#f25618;
}
.xw2_bd>li:hover span{
	color:#f25618;
}
.xw2_bd>li>em{
	font-style:normal;
	display: inline-block;
	width:80px;
	text-align: center;
}
.xw2_bd>li>span{
	font-style:normal;
	display: inline-block;
	width:80px;
	text-align: center;
	color:#666;
}

.xw2_bd>li:last-child{
	border:none;
}

/******************************************展会专题*/
.zhzt_bd{
	overflow:hidden;
	width:1250px;
}
.zhzt_bd li{
	float:left;
	width:186px;
	height:308px;
	margin-right:20px;
}



/**************************************************************************底部样式*/

#footer{
	width:100%;
	min-width:1220px;
	background-color: #F8F8F8;
	border-top:1px solid #eee;
	margin-top: 50px;
}
.footer_top{
	width:1220px;
	min-height: 210px;
	padding-top:20px;
	padding-bottom:50px;
	margin: 0 auto;
}

.ftc_left{
	width:888px;
	float:left;
	position:relative;

}
.ftc_center{
	float:left;
	width:100px;
	height:100%;	
	position:relative;
	margin: 0 50px;
	color:#666;
}
.ftc_right{
	float:left;
	width:100px;
	height: 100%;
	position:relative;

}

.ftcl_content{
	display: none;
	padding-top: 20px;
	color:#999;
}

.ftc_left .ftcl_on{
	display:block;
}

.ftcl_tab{
	height:33px;
	line-height: 33px;
	border-bottom:1px solid #eaeaea;
	position: relative;
}

.ftcl_tab li{
	float: left;
	margin-right: 30px;
	cursor: pointer;

}
.ftcl_tab li>a{
	position:relative;
	display: block;
	color:#666;
}


.ftcl_tab li.ftcl_tab_on a{
	border-bottom: 1px solid #009635;
} 
.ftcl_tab span{
	position:absolute;
	right:0;
	bottom: 0px;
	color:#666;
}


.ftcl_content a{
	text-decoration:none;
	color:#999;
	padding-right: 8px;
	white-space: nowrap;
	line-height: 20px;
}


.ftc_tit{
	height:33px;
	line-height: 33px;
	margin-bottom:5px;
}

.ftc_center li{
	margin-top: 10px;
	cursor: pointer;
}
.ftc_center li:nth-child(1):hover{
	color:#d6332a;
}
.ftc_center li:nth-child(1):hover .ftc_icon1{
	background-position: -131px -50px;
}
.ftc_center li:nth-child(2):hover{
	color:#42adcf;
}
.ftc_center li:nth-child(2):hover .ftc_icon2{
	background-position: -181px -51px;
}
.ftc_center li:nth-child(3):hover{
	color:#eaaf00;
}
.ftc_center li:nth-child(3):hover .ftc_icon3{
	background-position: -147px -51px;
}
.ftc_center li:nth-child(4):hover{
	color:#60b400;
}
.ftc_center li:nth-child(4):hover .ftc_icon4{
	background-position: -164px -51px;
}
.ftc_center li>i{
	display: inline-block;
	width:18px;
	height:14px;
	background: url(../img/main/zgs_global.png) no-repeat;
	margin-right: 10px;
}
.ftc_center .ftc_icon1{
	background-position: -131px -34px;
}
.ftc_center .ftc_icon2{
	
	background-position: -181px -34px;
}
.ftc_center .ftc_icon3{
	background-position: -147px -34px;
}
.ftc_center .ftc_icon4{
	
	background-position: -164px -34px;
}

.ftc_right b{
	display:block;
	width:100px;
	height:100px;
	background: url(../img/main/global.png) -412px 0 no-repeat;
}

.footer_bottom{
	width:100%;
	background-color: #1f1f1f;
	border-top:2px solid #009635;
}

.fb_con{
	width:1220px;
	margin:0 auto;
}
.fb_con ul,.fb_con p,.fb_con div{
	margin:20px auto;
	text-align: center;
	color:#666;
}
.fb_con ul{
	width:1220px;
	height:20px;
	text-align: center;
	margin-top:10px;
}
.fb_con ul>li{
	color:#fff;
	margin-right:8px;
	display: inline-block;
	height:20px;
	line-height:20px;
	cursor:pointer;
}
.fb_con ul>li>span{
	display: inline-block;
	height:12px;
	width:1px;
	background-color: #fff;
	margin-left:8px;
}

.fb_con .fb_img{
	height:70px;
	text-align: center;
	margin-bottom: 0;
}
.fb_img>span{
	display: inline-block;
	background: url(../img/main/global.png) no-repeat;
	cursor:pointer;
}

.fb_img .fb_ico1{
	width:32px;
	height:33px;
	margin-right:20px;
	background-position: -184px -101px;
}
.fb_img .fb_ico2{
	width:32px;
	height:33px;
	margin-right:20px;
	background-position: -156px -101px;
}
.fb_img .fb_ico3{
	width:90px;
	height:33px;
	margin-right:20px;
	background-position: 0px -224px;
}



/***********************************右侧固定菜单*/
.slide_help_box{
	position:fixed;
	width:60px;
	right:0;
	bottom:150px;
}
.slide_help{
	position:relative;
}

.slide_help .slide_top{
	display:none;
}
.slide_help>a{
	display: block;
	width:60px;
	height:60px;
	color:#666;
	background-color: #fff;
	border: 1px solid #eee;
	margin-right:-1px;
	text-align: center;
}
.slide_help>a:hover{
	color:#fff;
	background-color: #01af63;
	border: 1ox solid #01AF63;
}

.slide_help>a>i{
	display: block;
	width:56px;
	height:36px;
}
.slide_ico_zx{
	background: url(../img/main/consult.gif) no-repeat;
}
.slide_help>a:hover .slide_ico_zx{
	background:url(../img/main/slide_help.png) -122px 11px no-repeat;
}
.slide_ico_yj{
	background: url(../img/main/slide_help.png) 11px -50px no-repeat;
}
.slide_help>a:hover .slide_ico_yj{
	background-position: -121px -50px;
}
.slide_ico_gz{
	background: url(../img/main/slide_help.png) 11px -109px no-repeat;
}
.slide_help>a:hover .slide_ico_gz{
	background-position: -121px -109px;
}
.slide_ico_top{
	background: url(../img/main/slide_help.png) 11px -168px no-repeat;
}
.slide_help>a:hover .slide_ico_top{
	background-position: -121px -168px;
}

.two_wm{
	position:absolute;
	width:0px;
	height:118px;
	top:62px;
	right:-58px;
	transition:all 0.7s ease;
	z-index: -1;
	border: 1px solid #eee;
}

.slide_help .open{
	width:118px;
	right:60px;
}


.slide_box_con{
	position: fixed;
	z-index: 100;
	left:-150%;
	bottom:0;
	width:100%;
	height:160px;
	background: rgba(2,2,2,0.7);
	transition:all 1.5s ease;
}
.slide_box{
	position: relative;
	width:100%;
	height:100%;
}
.slide_box1{
	position:absolute;
	width:100%;
	height:100%;
	z-index:3;
}
.slide_ban{
	width:1220px;
	height:160px;
	margin: 0 auto;
	position: relative;
}
.dy_img{
	float:left;
	position: relative;
	width:522px;
	height:181px;
}
.dy_img>img{
	position:absolute;
	bottom:21px;
	left:60px;
}

.dy_img>em{
	position:absolute;
	bottom:25px;
	left:137px;
	color:#666;
	font-style: normal;
}

.step1{
	width:320px;
	height:100%;
	float:left;
	background:#1c2837;
	padding:15px 10px;
	margin-left:115px;
}
.step_title{
	margin-bottom:20px;
	font-size:16px;
	font-weight: 500;
	color:#fff;
}
.step_title>span{
	color:#ffa00b;
}
.step1 input,.step1 select,.setp1 button{
	border:none;

}

.step1 input{
	width:180px;
	height:30px;
	padding-left:30px;	
}
.step1 .mt select{
	width:100px;
	height:30px;
}

.element{
	margin-top:10px;
}
.mb select{
	width:103px;
	height:30px;

}
.mb button{
	width:100px;
	height:30px;
	background: #ffa00b;
	color:#fff;
	text-align:center;
	border:none;
}



.zxbj_wm{
	float:left;
	width:106px;
	position:relative;
	margin-left:30px;
	margin-top:10px;
}
.zxbj_wm p{
	margin:10px 0;
	color:#fff;
	text-align: center;
}

.zxbj_wm div{
	height:106px;
	background: url(../img/main/global.png) -407px -106px no-repeat;
}

.zxbj_wm em{
	width:20px;
	height:18px;
	position:absolute;
	right:-70px;
	top:10px;
	cursor:pointer;
	background: url(../img/main/global.png) -253px -282px no-repeat;
}

#open{
	width:156px;
	height: 165px;
	position:fixed;
	z-index: 100;
	transition: all 1.5s ease;
	bottom:70px;
	left:-40px;
	display: none;
	background: url(../img/main/open.png) no-repeat;
	cursor:pointer;
}
